fastapi==0.115.11
uvicorn==0.32.0
sqlalchemy
pydantic==2.10.6
scikit-learn
pandas==2.3.2
numpy==2.2.4
python-multipart
python-jose[cryptography]
passlib[bcrypt]==1.7.4
xgboost
lightgbm
torch
imbalanced-learn
joblib==1.4.2
fastapi-mail
httpx==0.28.1
python-telegram-bot
reportlab
openpyxl==3.1.5
matplotlib==3.10.1
shap
python-dotenv
slowapi
